.ly_newBlogFv {
  padding: 88px 0;
  background-image: url('../img/blog.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.ly_newBlog {
  padding: 60px 0 44px;
}

.bl_newBlog_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.bl_newBlog_items {
  margin-top: 60px;
  margin-bottom: 108px;
}

.bl_newBlog_item + .bl_newBlog_item {
  margin-top: 92px;
}

.bl_newBlog_item {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 148px;
  &:hover {
    opacity: .7;
  }
}

.bl_newBlog_item_img {
  width: 30%;
  img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 42%;
  }
}

.bl_newBlog_item_info {
  width: 65%;
  @media screen and (max-width: 767px) {
    width: 55%;
  }
}

.bl_newBlog_item_info_time {
  color: #1B224C;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.bl_newBlog_item_info_title {
  margin-top: 12px;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
  text-decoration: underline;
  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

.bl_newBlog_item_info_text {
  margin-top: 8px;
  color: #1B224C;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
