.ly_complete {
  padding: 80px 0;
  text-align: center;
}

.bl_complete_text {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.bl_complete_backWrapper {
  margin-top: 80px;
}

.bl_complete_back {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}