/* ファーストビュー */
.ly_fv {
  background-image: url('../img/first-view.png');
  background-position: center;
  background-size: cover;
  text-align: center;

  .ly_inner {
    padding-top: 7.25rem; // 116px
    padding-bottom: 5.375rem; // 86px
  }
}

.bl_fv_title {
  margin-bottom: 1.34375rem; // 21.5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3rem; // 48px
  line-height: 1.4;
  text-shadow: 0px 3px 6px #00000029;
  @media (max-width: 599px) {
    font-size: 2.5rem; // 40px
  }
}

.bl_fv_subTitle {
  margin-bottom: 2.78125rem; // 44.5px
  color: #FFFFFF;
  font-size: 1.125rem; // 18px
  line-height: 1.7;
  @media (max-width: 599px) {
    font-size: 0.75rem; // 12px
  }
}

.bl_fv_document {
  margin-bottom: 1.375rem; // 22px
  .el_button {
    width: 260px;
    height: 60px;
    border-radius: 31px;
    font-size: 1rem; // 16px
  }
}

.bl_fv_contact {
}

/* こんなお悩みありませんか？ */
.ly_about {
  background-color: #1B224C;
  text-align: center;

  .ly_inner {
    padding-top: 56px;
    padding-bottom: 54px;
  }
}

.bl_about_title {
  margin-bottom: 58px;
}

.bl_about_problems {
  margin-bottom: 72.5px;
  @media (min-width: 1025px) {
    display: flex;
    justify-content: center;
    gap: 0 30px;
  }

  .bl_about_problem {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 39px;
  }
}

.bl_about_message {
  min-height: 248px;
  padding: 11px 16px 12px;
  background-color: #FFFFFF;

  .bl_about_message_innerFrame {
    min-height: 225px;
    padding: 15px 20px 20px;
    border: 5px solid #1B224C;
  }
  
  .bl_about_message_title {
    margin-bottom: 25px;
    color: #1B224C;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    @media screen and (min-width: 1025px) {
      font-size: 36px;
      line-height: 50px;
    }
  }
  
  .bl_about_message_explanation {
    color: #1B224C;
    font-size: 18px;
    line-height: 31px;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 21px;
      text-align: left;
    }
  }
}

/* 3つの強み */
.ly_feature {
  .ly_inner {
    padding-top: 52px;
    padding-bottom: 93px;
  }
}

.bl_feature_title {
  margin-bottom: 59px;
  text-align: center;
}

.bl_feature_items {
  display: flex;
  flex-direction: column;
  gap: 60px 0;

  .bl_feature_media {
    display: flex;
    gap: 0 50px;
    // スマホで見た時のみ画像と文章を縦に並べる (iPadの横幅が768px)
    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px 0;
    }
    &.bl_feature_media__reverse {
      flex-direction: row-reverse;
    }

    .bl_feature_media_imgWrapper {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 40%;
      img {
        width: 100%;
      }
    }

    .bl_feature_media_body {
      // flex: 1と指定した場合以下と同じ
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;

      .bl_feature_media_body_label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 30px;
        margin-bottom: 28.5px;
        background-color: #F5A623;
        color: white;
        font-size: 12px;
      }

      .bl_feature_media_body_title {
        margin-bottom: 39px; // TODO: 修正
        color: #1B224C;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.5;
      }

      .bl_feature_media_body_text {
        color: #1B224C;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
}

/* 料金プラン */
.ly_price {
  background-image: url('../img/price.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .ly_inner {
    padding-top: 61px;
    padding-bottom: 53px;
  }
}

.bl_price_title {
  margin-bottom: 27px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
}

.bl_price_button {
  .el_button {
    width: 200px;
    height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background: transparent;
    color: #FFFFFF;
    &:hover {
      background: #FFFFFF;
      color: #1B224C;
    }
  }
}

/* 成功事例 */
.ly_success {
  min-height: 608px;
  padding: 58px 0 60px;
  background: #1B224C;
}

.ly_success_inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

// TODO: タイトルのCSSを共通化
.bl_success_title {
  margin-bottom: 131.5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.bl_success_examples {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  @media screen and (min-width: 1025px) {
    flex-direction: row;
    gap: 0 3.33%;
  }
}

.bl_success_example {
  max-width: 300px;
  margin: 0 auto;
  @media screen and (min-width: 1025px) {
    width: calc((100% - 6.66%) / 3);
  }
}

.bl_success_summary {
  margin-bottom: 3.5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
}

.bl_success_picture {
  height: 171px;
  background-color: #FFFFFF;
}

.bl_success_profile {
  display: flex;
  gap: 0 8px;
  margin-top: 16px;
}

.bl_success_status {
  width: 35%;
  height: 32px; // TODO: 削除してpaddingで高さを指定
  padding: 0 4px;
  background-color: #FFFFFF;
  color: #1B224C;
  font-size: 16px;
  line-height: 32px;
}

.bl_success_name {
  width: 65%;
  height: 32px; // TODO: 削除してpaddingで高さを指定
  padding: 0 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
}

.bl_success_result {
  height: 32px; // TODO: 削除してpaddingで高さを指定
  margin-top: 10px;
  padding: 0 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
}

/* ご利用の流れ */
.ly_flow {
  .ly_inner {
    padding-top: 51px;
    padding-bottom: 68px;
  }
}

.bl_flow_title {
  text-align: center;
}

.bl_flow_parts {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin-top: 46px;
}

.bl_flow_part {
  display: flex;
  width: 100%;
  min-height: 64px; // TODO: 削除してpaddingで高さを指定
  background-color: #F8F8F8;
}

.bl_flow_number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  background-color: #F5A623;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.bl_flow_summary_content {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 10px 21px;
  @media screen and (min-width: 1025px) {
    flex-direction: row;
  }
}

.bl_flow_summary {
  display: flex;
  align-items: center;
  position: relative;
  width: 193.5px;
  h3 {
    color: #1B224C;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
  }
  &::before {
    position: absolute;
    top: 7.5px;
    right: 0px;
    width: 1px;
    height: 29px;
    background-color: #C3C3C3;
    content: '';
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.bl_flow_content {
  display: flex;
  align-items: center;
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  @media screen and (min-width: 1025px) {
    padding-left: 53.5px;
  }
}

.ly_blog_news_container {
  padding: 0 20px 119px;
}

.ly_blog_news_container_inner {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.ly_blog {
  width: 47%;
}

// TODO: 共通化
.bl_blog_title {
  margin-bottom: 36px;
  color: #1B224C;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
}

.bl_blog_items {
  display: flex;
  flex-direction: column;
  gap: 31px 0;
}

.bl_blog_item {
  display: flex;
  gap: 0 20px;
  width: 430px;
  height: 110px;
  &:hover {
    opacity: .7;
  }
}

.bl_blog_img {
  width: 150px;
  height: 110px;
  margin: 0; // figureタグのmarginを打ち消す
  img {
    width: auto;
    height: 100%;
  }
}

.bl_blog_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bl_blog_info_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;  
}

.bl_blog_info_time {
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.ly_news {
  width: 47%;
}

.bl_news_title {
  margin-bottom: 36px;
  color: #1B224C;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
}

.bl_news_items {
  display: flex;
  flex-direction: column;
  gap: 17px 0;
}

.bl_news_item {
  display: block;
  height: 87px;
  &:hover {
    opacity: .7;
  }
}

.bl_news_item_time {
  margin-bottom: 10.5px;
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 1em;
}

.bl_news_item_title {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
}
