@charset "UTF-8";
/* ファーストビュー */
.ly_fv {
  background-image: url('../img/first-view.png');
  background-position: center;
  background-size: cover;
  text-align: center;
}
.ly_fv .ly_inner {
  padding-top: 7.25rem;
  padding-bottom: 5.375rem;
}
.bl_fv_title {
  margin-bottom: 1.34375rem;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.4;
  text-shadow: 0px 3px 6px #00000029;
}
@media (max-width: 599px) {
  .bl_fv_title {
    font-size: 2.5rem;
  }
}
.bl_fv_subTitle {
  margin-bottom: 2.78125rem;
  color: #FFFFFF;
  font-size: 1.125rem;
  line-height: 1.7;
}
@media (max-width: 599px) {
  .bl_fv_subTitle {
    font-size: 0.75rem;
  }
}
.bl_fv_document {
  margin-bottom: 1.375rem;
}
.bl_fv_document .el_button {
  width: 260px;
  height: 60px;
  border-radius: 31px;
  font-size: 1rem;
}
/* こんなお悩みありませんか？ */
.ly_about {
  background-color: #1B224C;
  text-align: center;
}
.ly_about .ly_inner {
  padding-top: 56px;
  padding-bottom: 54px;
}
.bl_about_title {
  margin-bottom: 58px;
}
.bl_about_problems {
  margin-bottom: 72.5px;
}
@media (min-width: 1025px) {
  .bl_about_problems {
    display: flex;
    justify-content: center;
    gap: 0 30px;
  }
}
.bl_about_problems .bl_about_problem {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 39px;
}
.bl_about_message {
  min-height: 248px;
  padding: 11px 16px 12px;
  background-color: #FFFFFF;
}
.bl_about_message .bl_about_message_innerFrame {
  min-height: 225px;
  padding: 15px 20px 20px;
  border: 5px solid #1B224C;
}
.bl_about_message .bl_about_message_title {
  margin-bottom: 25px;
  color: #1B224C;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
@media screen and (min-width: 1025px) {
  .bl_about_message .bl_about_message_title {
    font-size: 36px;
    line-height: 50px;
  }
}
.bl_about_message .bl_about_message_explanation {
  color: #1B224C;
  font-size: 18px;
  line-height: 31px;
}
@media screen and (max-width: 1024px) {
  .bl_about_message .bl_about_message_explanation {
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
}
/* 3つの強み */
.ly_feature .ly_inner {
  padding-top: 52px;
  padding-bottom: 93px;
}
.bl_feature_title {
  margin-bottom: 59px;
  text-align: center;
}
.bl_feature_items {
  display: flex;
  flex-direction: column;
  gap: 60px 0;
}
.bl_feature_items .bl_feature_media {
  display: flex;
  gap: 0 50px;
}
@media screen and (max-width: 767px) {
  .bl_feature_items .bl_feature_media {
    flex-direction: column;
    gap: 20px 0;
  }
}
.bl_feature_items .bl_feature_media.bl_feature_media__reverse {
  flex-direction: row-reverse;
}
.bl_feature_items .bl_feature_media .bl_feature_media_imgWrapper {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 40%;
}
.bl_feature_items .bl_feature_media .bl_feature_media_imgWrapper img {
  width: 100%;
}
.bl_feature_items .bl_feature_media .bl_feature_media_body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.bl_feature_items .bl_feature_media .bl_feature_media_body .bl_feature_media_body_label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  margin-bottom: 28.5px;
  background-color: #F5A623;
  color: white;
  font-size: 12px;
}
.bl_feature_items .bl_feature_media .bl_feature_media_body .bl_feature_media_body_title {
  margin-bottom: 39px;
  color: #1B224C;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
}
.bl_feature_items .bl_feature_media .bl_feature_media_body .bl_feature_media_body_text {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
/* 料金プラン */
.ly_price {
  padding: 0 0 39px;
}
.ly_price_inner {
  width: 90%;
  max-width: 906px;
  height: 156px;
  margin: 0 auto;
  padding: 61px 20px 0;
  background-image: url('../img/price.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bl_price_ttl {
  margin-bottom: 27px;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}
.bl_price_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
}
.bl_price_btn:hover {
  background: #FFFFFF;
  color: #1B224C;
}
/* 成功事例 */
.ly_success {
  min-height: 608px;
  padding: 58px 0 60px;
  background: #1B224C;
}
.ly_success_inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.bl_success_title {
  margin-bottom: 131.5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
.bl_success_examples {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}
@media screen and (min-width: 1025px) {
  .bl_success_examples {
    flex-direction: row;
    gap: 0 3.33%;
  }
}
.bl_success_example {
  max-width: 300px;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .bl_success_example {
    width: calc((100% - 6.66%) / 3);
  }
}
.bl_success_summary {
  margin-bottom: 3.5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
}
.bl_success_picture {
  height: 171px;
  background-color: #FFFFFF;
}
.bl_success_profile {
  display: flex;
  gap: 0 8px;
  margin-top: 16px;
}
.bl_success_status {
  width: 35%;
  height: 32px;
  padding: 0 4px;
  background-color: #FFFFFF;
  color: #1B224C;
  font-size: 16px;
  line-height: 32px;
}
.bl_success_name {
  width: 65%;
  height: 32px;
  padding: 0 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
}
.bl_success_result {
  height: 32px;
  margin-top: 10px;
  padding: 0 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 32px;
}
/* ご利用の流れ */
.ly_flow {
  padding: 50px 0 30px;
}
.ly_flow_inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.bl_flow_title {
  padding-bottom: 45px;
  text-align: center;
}
.bl_flow_parts {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.bl_flow_part {
  display: flex;
  width: 100%;
  min-height: 64px;
  background-color: #F8F8F8;
}
.bl_flow_number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  min-height: 64px;
  background-color: #F5A623;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}
.bl_flow_summary_content {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 10px 21px;
}
@media screen and (min-width: 1025px) {
  .bl_flow_summary_content {
    flex-direction: row;
  }
}
.bl_flow_summary {
  display: flex;
  align-items: center;
  position: relative;
  width: 193.5px;
}
.bl_flow_summary h3 {
  color: #1B224C;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.bl_flow_summary::before {
  position: absolute;
  top: 7.5px;
  right: 0px;
  width: 1px;
  height: 29px;
  background-color: #C3C3C3;
  content: '';
}
@media screen and (max-width: 1024px) {
  .bl_flow_summary::before {
    display: none;
  }
}
.bl_flow_content {
  display: flex;
  align-items: center;
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
@media screen and (min-width: 1025px) {
  .bl_flow_content {
    padding-left: 53.5px;
  }
}
.ly_blog_news_container {
  padding: 0 20px 119px;
}
.ly_blog_news_container_inner {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}
.ly_blog {
  width: 47%;
}
.bl_blog_title {
  margin-bottom: 36px;
  color: #1B224C;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
}
.bl_blog_items {
  display: flex;
  flex-direction: column;
  gap: 31px 0;
}
.bl_blog_item {
  display: flex;
  gap: 0 20px;
  width: 430px;
  height: 110px;
}
.bl_blog_item:hover {
  opacity: 0.7;
}
.bl_blog_img {
  width: 150px;
  height: 110px;
  margin: 0;
}
.bl_blog_img img {
  width: auto;
  height: 100%;
}
.bl_blog_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bl_blog_info_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
}
.bl_blog_info_time {
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.ly_news {
  width: 47%;
}
.bl_news_title {
  margin-bottom: 36px;
  color: #1B224C;
  font-weight: bold;
  font-size: 32px;
  line-height: 1em;
}
.bl_news_items {
  display: flex;
  flex-direction: column;
  gap: 17px 0;
}
.bl_news_item {
  display: block;
  height: 87px;
}
.bl_news_item:hover {
  opacity: 0.7;
}
.bl_news_item_time {
  margin-bottom: 10.5px;
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 1em;
}
.bl_news_item_title {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-decoration: underline;
}
/*# sourceMappingURL=index.css.map */