.ly_priceFv {
  padding: 88px 0;
  background-image: url('../img/plan.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.ly_system {
  padding: 60px 0 90px;
}

.bl_price_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.bl_system_items {
  display: flex;
  justify-content: center;
  height: 90px;
  margin-top: 60px;
  @media screen and (max-width: 499px) {
    height: 60px;
  }
}

.bl_system_item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 100%;
  background-color: #1B224C;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 499px) {
    font-size: 0.75rem;
  }
}

.bl_system_plus {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 100%;
  color: #1B224C;
  font-size: 28px;
  line-height: 1;
  @media screen and (max-width: 767px) {
    width: 48px;
    font-size: 16px;
  }
}

.bl_system_description {
  margin-top: 40px;
  color: #1B224C;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75;
}

.ly_plan {
  padding: 0 0 60px;
}

.bl_plans_wrapper {
  overflow-x: auto;
}

// align-items: endとすると、Mac/SafariやWindows/IEで要素が下揃えにならない
.bl_plans {
  display: flex;
  gap: 0 8px;
  align-items: flex-end;
  margin-top: 60px;
}

.bl_plan {
  width: 100%;
  @media screen and (max-width: 767px) {
    min-width: 220px;
  }
}

// .bl_より.el_の方が適切？
.bl_plan_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #1B224C;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  text-align: center;

  &.bl_plan_title__recommended {
    height: 96px;
    background-color: #F5A623;
  }
}

.bl_plan_body {
  min-height: 414px;
  padding: 32px 20px 20px;
  border-right: 0.5px solid #1B224C;
  border-bottom: 0.5px solid #1B224C;
  border-left: 0.5px solid #1B224C;
}

.bl_plan_price {
  color: #1B224C;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  &.bl_plan_price__recommended {
    color: #F5A623;
  }
}

.bl_plan_remark {
  margin-top: 16px;
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.bl_plan_contents {
  margin-top: 48px;
}

.bl_plan_content {
  color: #1B224C;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  list-style-type: none;
  &.bl_plan_content__checked {
    &::before {
      width: 10px;
      height: 10px;
      margin-right: 12px;
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
      content: "\f00c";
    }
  }
}

.bl_plan_content + .bl_plan_content {
  margin-top: 12px;
}
