@charset "UTF-8";
.ly_content {
  padding: 60px 0 0;
}
@media screen and (min-width: 768px) {
  .ly_content .ly_inner {
    display: flex;
    justify-content: space-between;
  }
  .ly_content .ly_main {
    width: calc(100% - 298px);
  }
  .ly_content .ly_sidebar {
    width: 268px;
  }
}
.bl_blogDetail_category {
  margin-bottom: 20px;
}
.bl_blogDetail_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 3rem;
  word-wrap: break-word;
}
.bl_blogDetail_snsLink_time {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.bl_blogDetail_snsLink_time .wp_social_bookmarking_light {
  height: 20px;
  padding: 0px !important;
}
.bl_blogDetail_time {
  color: #1B224C;
  font-size: 1rem;
  line-height: 1.5;
}
.bl_blogDetail_catchImg {
  padding: 30px 20px;
  text-align: center;
}
.bl_blogDetail_content h1 {
  margin: 24px 0;
  color: #1B224C;
  word-wrap: break-word;
}
.bl_blogDetail_content h2 {
  margin: 24px 0;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
  word-wrap: break-word;
}
.bl_blogDetail_content h3 {
  margin: 24px 0;
  padding-left: 10px;
  border-left: #1B224C 4px solid;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
  word-wrap: break-word;
}
.bl_blogDetail_content h4 {
  word-wrap: break-word;
}
.bl_blogDetail_content h5 {
  word-wrap: break-word;
}
.bl_blogDetail_content h6 {
  word-wrap: break-word;
}
.bl_blogDetail_content p {
  margin: 24px 0;
  color: #1B224C;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
}
.bl_blogDetail_content a {
  color: #F5A623;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: underline;
  word-wrap: break-word;
}
.bl_blogDetail_content ul {
  margin: 24px 0;
  padding-left: 44px;
}
.bl_blogDetail_content ul li {
  position: relative;
  list-style: none;
  word-wrap: break-word;
}
.bl_blogDetail_content ul li::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #F5A623;
  content: '';
}
.bl_blogDetail_content figure {
  max-width: 100%;
  margin: 24px 0;
}
.bl_blogDetail_content figure.aligncenter {
  margin: 24px auto;
}
.bl_blogDetail_content figure.alignright {
  margin-left: auto;
}
.bl_blogDetail_content figcaption {
  font-size: 85%;
  color: #949494;
  text-align: center;
  font-style: italic;
}
.bl_blogDetail_content img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.bl_blogDetail_content blockquote {
  position: relative;
  margin: 24px 0;
  padding: 28px 28px 16px 72px;
  background-color: #F8F8F8;
  word-wrap: break-word;
}
.bl_blogDetail_content blockquote cite {
  display: block;
  margin-bottom: 24px;
  word-wrap: break-word;
}
.bl_blogDetail_content blockquote::before {
  position: absolute;
  top: 36px;
  left: 20px;
  color: #B4B4B4;
  font-size: 92px;
  content: '“';
}
.ly_recommended {
  padding: 52px 0 68px;
}
.bl_recommended_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
}
.bl_recommended_items {
  margin-top: 24px;
}
.bl_recommended_item {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 128px;
  transition: 0.3s;
}
.bl_recommended_item:hover {
  opacity: 0.4;
}
.bl_recommended_item:hover .bl_recommended_item_img img {
  transform: scale(1.2);
}
.bl_recommended_item + .bl_recommended_item {
  margin-top: 28px;
}
.bl_recommended_item_img {
  width: 35%;
  overflow: hidden;
}
.bl_recommended_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.3s;
}
.bl_recommended_item_info {
  width: 60%;
}
.bl_recommended_item_time {
  color: #1B224C;
  font-size: 1rem;
  line-height: 1;
}
.bl_recommended_item_title {
  margin-top: 24px;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: underline;
  word-break: break-all;
}
.bl_sidebar_title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #1B224C;
  border: 1px solid #707070;
}
.bl_sidebar_title .bl_sidebar_title_text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}
.bl_sidebar_blogItems {
  display: flex;
  flex-direction: column;
  gap: 42px 0;
  margin-top: 28px;
}
.bl_sidebar_blogItem {
  display: flex;
  justify-content: space-between;
  height: 70px;
  transition: 0.3s;
}
.bl_sidebar_blogItem:hover {
  opacity: 0.4;
}
.bl_sidebar_blogItem:hover .bl_sidebar_blogItem_img img {
  transform: scale(1.2);
}
.bl_sidebar_blogItem_img {
  width: 35%;
  overflow: hidden;
}
.bl_sidebar_blogItem_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.3s;
}
.bl_sidebar_blogItem_info {
  width: 60%;
}
.bl_sidebar_blogItem_title {
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  text-decoration: underline;
  word-wrap: break-word;
}
.ly_sidebar_category {
  margin-top: 48px;
  padding: 0 0 60px;
}
.bl_sidebar_category_listItems {
  margin-top: 30px;
}
.bl_sidebar_category_listItem {
  list-style-type: none;
}
.bl_sidebar_category_listItem + .bl_sidebar_category_listItem {
  margin-top: 16px;
}
.bl_sidebar_category_link {
  color: #1B224C;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  word-break: break-all;
}
.bl_sidebar_category_link::before {
  color: #1B224C;
  content: '・';
}
.bl_sidebar_category_link:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=single.css.map */