.ly_breadcrumb {
  height: 50px;
  padding: 19px 0;
  box-sizing: border-box; // TODO: 全体で対応後に削除
  background-color: #F8F8F8;
}

.bl_breadcrumb {
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  a {
    color: #1B224C;
    text-decoration: underline;
  }
}
