@charset "UTF-8";
.ly_content {
  padding: 60px 0 0;
}
.ly_content .ly_inner {
  display: flex;
  justify-content: space-between;
}
.bl_blogDetail_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 3rem;
}
.bl_blogDetail_time {
  display: block;
  margin-top: 36px;
  color: #1B224C;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
}
.bl_blogDetail_content h1 {
  margin: 24px 0;
  color: #1B224C;
}
.bl_blogDetail_content h2 {
  margin: 24px 0;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
}
.bl_blogDetail_content h3 {
  margin: 24px 0;
  padding-left: 10px;
  border-left: #1B224C 4px solid;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 28px;
}
.bl_blogDetail_content p {
  margin: 24px 0;
  color: #1B224C;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}
.bl_blogDetail_content a {
  color: #F5A623;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: underline;
}
.bl_blogDetail_content ul {
  margin: 24px 0;
  padding-left: 44px;
}
.bl_blogDetail_content ul li {
  position: relative;
  list-style: none;
}
.bl_blogDetail_content ul li::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #F5A623;
  content: '';
}
.bl_blogDetail_content figure {
  margin: 24px 0;
}
.bl_blogDetail_content figure img {
  width: auto;
  height: auto;
}
.bl_blogDetail_content blockquote {
  position: relative;
  margin: 24px 0;
  padding: 28px 28px 16px 72px;
  background-color: #F8F8F8;
}
.bl_blogDetail_content blockquote cite {
  display: block;
  margin-bottom: 24px;
}
.bl_blogDetail_content blockquote::before {
  position: absolute;
  top: 36px;
  left: 20px;
  color: #B4B4B4;
  font-size: 92px;
  content: '“';
}
.ly_recommended {
  padding: 0 0 68px;
}
.bl_recommended_title {
  color: #1B224C;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.5;
}
.bl_recommended_items {
  margin-top: 24px;
}
.bl_recommended_item {
  display: flex;
  gap: 0 32px;
  height: 128px;
}
.bl_recommended_item + .bl_recommended_item {
  margin-top: 28px;
}
.bl_recommended_item_img {
  width: 210px;
}
.bl_recommended_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.bl_recommended_item_time {
  color: #1B224C;
  font-size: 1rem;
  line-height: 1;
}
.bl_recommended_item_title {
  margin-top: 24px;
  color: #1B224C;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: underline;
}
.ly_main {
  width: calc(100% - 298px);
}
.ly_sidebar {
  width: 268px;
}
.bl_sidebar_title {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 64px;
  box-sizing: border-box;
  background-color: #1B224C;
  border: 1px solid #707070;
}
.bl_sidebar_title .bl_sidebar_title_text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}
.bl_sidebar_blogItems {
  display: flex;
  flex-direction: column;
  gap: 42px 0;
  margin-top: 28px;
}
.bl_sidebar_blogItem {
  display: flex;
  gap: 0 16px;
  height: 70px;
}
.bl_sidebar_blogItem_img {
  width: 110px;
}
.bl_sidebar_blogItem_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.bl_sidebar_blogItem_info {
  width: 152px;
}
.bl_sidebar_blogItem_title {
  color: #1B224C;
  font-weight: 500;
  font-size: 12px;
  line-height: 2;
  text-decoration: underline;
}
.ly_sidebar_category {
  margin-top: 48px;
}
.bl_sidebar_category_listItems {
  margin-top: 30px;
}
.bl_sidebar_category_listItem {
  list-style-type: none;
}
.bl_sidebar_category_listItem + .bl_sidebar_category_listItem {
  margin-top: 16px;
}
.bl_sidebar_category_link {
  color: #1B224C;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.bl_sidebar_category_link::before {
  color: #1B224C;
  content: '・';
}
.bl_sidebar_category_link:hover {
  opacity: 0.7;
}
.entry-img img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=single.css.map */