/* 共通化 */
body {
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
               "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* 共通で使う要素 */
.el_companyLogo {
  width: 136px;
  height: 27px;
  display: inline-block;
}

.el_companyLogo:hover {
  opacity: 0.7;
}

.el_ctaBtn {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: transparent 1px solid;
  box-sizing: border-box; /* TODO: 必要に応じて共通化 */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.el_ctaBtn__orange {
  background-color: #F5A623;
  color: #FFFFFF;
}

.el_ctaBtn__orange:focus, .el_ctaBtn__orange:hover {
  background-color: #FFFFFF;
  color: #F5A623;
  border: currentColor 1px solid;
}

.el_ctaBtn__navy {
  background-color: #1B224C;
  color: #FFFFFF;
}

.el_ctaBtn__navy:focus, .el_ctaBtn__navy:hover {
  background-color: #FFFFFF;
  color: #1B224C;
  border: currentColor 1px solid;
}

/* ヘッダー */
.hp_noScroll {
  overflow: hidden;
}

.ly_header {
  background-color: #FFFFFF; /* TODO: 別クラスで指定 */
  width: 100%;
  height: 50px;
  padding: 15px 0;
  position: fixed;
  z-index: 100;
}

.ly_header_inner {
  max-width: 1280px;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px 0 15px;
  display: flex;
  justify-content: space-between;
}

.ly_header_left {
  display: flex;
  padding: 11.5px 0;
}

.bl_headerNav {
  display: none;
}

@media (min-width: 1025px) {
  .bl_headerNav {
    display: block;
  }
}

.bl_headerNav_items {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0; /* nav要素以下のul要素に自動でmarginが指定される */
  padding: 0; /* nav要素以下のul要素に自動でpaddingが指定される */
}

.bl_headerNav_items > * {
  margin-left: 28px;
}

.bl_headerNav_link {
  font-weight: bold;
  font-size: 16px;
  color: #1B224C;
}

.bl_headerNav_link:hover {
  opacity: 0.7;
}

.ly_header_right {
  display: flex;
}

.bl_headerInfo {
  display: none;
}

@media (min-width: 1025px) {
  .bl_headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }
}

.bl_businessHours {
  height: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #1B224C;
  margin-bottom: 10px;
}

.bl_tel {
  height: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #1B224C;
}

.bl_tel:hover {
  opacity: 0.7;
}

.bl_headerCtaBtn_wrapper {
  display: none;
  width: 137px;
  padding-left: 10px;
}

@media (min-width: 1025px) {
  .bl_headerCtaBtn_wrapper {
    display: block;
  }
}

.bl_drawerBtn {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border: #1B224C 1px solid;
  border-radius: 50px;
  z-index: 101;
}

.bl_drawerBtn:hover {
  box-shadow: 0 0 3px #1B224C;
}

@media (min-width: 1025px) {
  .bl_drawerBtn {
    display: none;
  }
}

.bl_drawerBtn > i {
  display: none;
  font-size: 18px;
  color: #1B224C;
}

.bl_drawerBtn > i.is_drawerActive {
  display: block;
}

.bl_drawerBg {
  visibility: hidden;
  position: fixed;
  z-index: 30;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100vh;
  background: #000000;
  color: #FFFFFF;
  opacity: 0;
}

.bl_drawerBg.is_drawerActive {
  visibility: visible;
  opacity: 0.8;
  transition: 0.3s;
}

@media (min-width: 1025px) {
  .bl_drawerBg {
    display: none;
  }
}

.bl_drawer {
  position: fixed;
  z-index: 40;
  width: 280px;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  transform: translateX(280px);
  transition: 0.3s;
}

.bl_drawer.is_drawerActive {
  transition: 0.3s;
  transform: translateX(0px);
}

@media (min-width: 1025px) {
  .bl_drawer {
    display: none;
  }
}

.bl_drawerLogo {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.bl_drawerNav {
  list-style-type: none;
  margin: 0; /* nav要素以下のul要素に自動でmarginが指定される */
  padding: 0; /* nav要素以下のul要素に自動でpaddingが指定される */
}

.bl_drawerNav_item {
  background-color: #1B224C;
  height: 60px;
  padding-left: 20px;
  border-bottom: 1px solid #FFFFFF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.bl_drawerNav_link {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.bl_drawerNav_link:hover {
  opacity: 0.7;
}

.bl_drawerCtaBtnGroup {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.bl_drawerCtaBtn_wrapper {
  display: inline-block;
  width: 115px;
  height: 50px;
}

.ly_paddingTop {
  height: 80px;
}

/* ファーストビュー */
.hp_fv {
  background-image: url('../img/first-view.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 476px;
}

.ly_fv_inner {
  padding: 116px 20px 0;
}

.bl_fvTitle {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000029;
  text-align: center;
}

@media (min-width: 600px) {
  .bl_fvTitle {
    font-size: 48px;
    line-height: 65px;
  }
}
