body {
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.test-title {
  font-size: 20px;
  color: blue;
}

.ly_header {
  height: 50px;
  padding: 15px 0;
}

.ly_header_inner {
  max-width: 1280px;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px 0 15px;
  display: flex;
  justify-content: space-between;
}

.ly_header_left {
  display: flex;
}

.bl_headerLogo {
  width: 136px;
  height: 27px;
  padding: 11.5px 0;
  display: inline-block;
}

.bl_headerLogo:hover {
  opacity: 0.7;
}

.bl_headerNav {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0; /* nav要素以下のul要素に自動でmarginが指定される */
  padding: 0; /* nav要素以下のul要素に自動でpaddingが指定される */
}

.bl_headerNav > * {
  margin-left: 28px;
}

.bl_headerNav_link {
  font-weight: bold;
  font-size: 16px;
  color: #1B224C;
}

.bl_headerNav_link:hover {
  opacity: 0.7;
}

.ly_header_right {
  display: flex;
}

.bl_headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.bl_businessHours {
  height: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #1B224C;
  margin-bottom: 10px;
}

.bl_tel {
  height: 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #1B224C;
}

.bl_tel:hover {
  opacity: 0.7;
}

.bl_menuBtn_wrapper {
  margin-left: 10px;
}

.el_menuBtn {
  width: 137px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: transparent 1px solid;
  box-sizing: border-box; /* TODO: 必要に応じて共通化 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.el_menuBtn__orange {
  background-color: #F5A623;
  color: #FFFFFF;
}

.el_menuBtn__orange:focus, .el_menuBtn__orange:hover {
  background-color: #FFFFFF;
  color: #F5A623;
  border: currentColor 1px solid;
}

.el_menuBtn__navy {
  background-color: #1B224C;
  color: #FFFFFF;
}

.el_menuBtn__navy:focus, .el_menuBtn__navy:hover {
  background-color: #FFFFFF;
  color: #1B224C;
  border: currentColor 1px solid;
}
