// <CSSのリファクタポイント>

// CSSのファイルを分割
// https://webdrawer.net/css/filesplit.html

// 全要素に共通するCSSを指定 (ベースグループ)
// 背景色や背景画像は例外としてly_に追加してOK
// クラス名はbl_(featureやpriceなどブロック名)_(titleやimgなどブロック内のパーツ名)という名前をつける

// bl_要素やel_要素にレイアウトに関するスタイリングはしない (floatやwidth、marginなど)
// line-heightなどを共通で指定したい
// Sassのmixinを活用
// できるだけPC表示をベースにする (SP/iPad表示をmax-widthで対応)
// できるだけmargin-right / margin-bottomをベースにする
// できるだけborder-boxをデフォルトにする

/* 共通化 */
@mixin font-size($size) {
  font-size: ($size / 16) + rem;
}

body {
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
               "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1, h2, h3, p, figure {
  margin: 0;
}

// TODO: 全要素で対応後に削除予定
.ly_fv, .ly_about, .ly_feature {
  * {
    box-sizing: border-box;
  }
}

/* 共通で使う要素 */
.lg_only {
  display: none !important;
  @media screen and (min-width: 1025px) {
    display: block !important;
  }
}

.md_only {
  display: block !important;
  @media screen and (min-width: 1025px) {
    display: none !important;
  }
}

.ly_inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (max-width: 767px) {
    max-width: 600px;
  }
}

.el_companyLogo {
  display: inline-block;
  width: 136px; // TODO: 削除？
  height: 27px; // TODO: 削除？
  &:hover {
    opacity: .7;
  }
}

.el_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: transparent 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
  @include font-size(14);

  &.el_button__orange {
    background-color: #F5A623;
    color: #FFFFFF;
    &:focus, &:hover {
      border: currentColor 1px solid;
      background-color: #FFFFFF;
      color: #F5A623;
    }
  }

  &.el_button__navy {
    background-color: #1B224C;
    color: #FFFFFF;
    &:focus, &:hover {
      border: currentColor 1px solid;
      background-color: #FFFFFF;
      color: #1B224C;
    }
  }
}

.el_contactLink {
  color: #FFFFFF;
  font-weight: 500;
  @include font-size(16);
  line-height: 1;
  text-decoration: underline;
  &:hover {
    opacity: .7;
  }
}

.el_title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  @media screen and (min-width: 1025px) {
    font-size: 36px;
    line-height: 50px;
  }

  &.el_title__white {
    color: #FFFFFF;
  }
  
  &.el_title__navy {
    color: #1B224C;
  }
}

.hp_underline {
  background: linear-gradient(transparent 70%, #F5A623 70%);
}
